{% extends 'AppBundle::layout.html.twig' %}

{% block content -%}
    <h1>Document list</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
                <th>Nb of files</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('document_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="{{ path('document_show', { 'id': entity.id }) }}">
                            <button type="button" class="btn btn-default">Show
                            </button>
                        </a>
                        <a href="{{ path('document_edit', { 'id': entity.id }) }}">
                            <button type="button" class="btn btn-default">Edit</button>
                        </a>

                    </div>
                </td>
                <td>
                    {{ entity.files|length }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('document_new') }}">
        <button type="button" class="btn btn-default">
            Create a new entry
        </button>
    </a>

    {% endblock %}
