{% extends 'AppBundle::layout.html.twig' %}

{% block page_title %}
    Upload File
{% endblock %}

{% block content -%}
        {{ form_start(form) }}
        {#{{ form_widget(form) }}#}

        <div class="input-file-container">
            {{ form_label(form.file, 'File : ') }}
            <p class="input-file-trigger">Select a file</p>
            {{ form_widget(form.file, {'attr': {'class': 'input-file' }}) }}
        </div>

        {{ form_rest(form) }}

        <input type="submit" value="Upload Document"/>
    </form>
{%- endblock %}
